*{
    margin: 0px;
    padding:0px;
    /* background-color: black; */

}


.navbar{
    background-color:black;
    color:white;
    padding:10px;
    /* position:fixed; */
    
}
.nav-container{
    display: flex;
    justify-content: space-between;
}
.list_links{
    display: flex;
}
.list_links a{
    color:white;
    text-decoration: none;


}
.list_links li{
    list-style: none;
    margin: 10px;
}
#body{
    background-image: url("images/college3.jpg");
    background-repeat: no-repeat;
    height:300px;
    opacity: 0.9;

    padding: 180px;
    background-size:100% 100%;
    /* margin-top: 100px; */
}

.innerbody{
    margin: auto;
    /* margin-top:150px; */
    opacity: 0.8;

    background-color: black;
    width:35vw;
    /* display: flex; */
    /* flex-direction: column; */
    padding:40px;
    /* justify-content: space-around; */
    color:white;
    text-align: center;
}
.innerbody_h1{
    font-size: 4rem;
    
}
.innerbody p{
    font-size: 20px;
    color:rgb(158, 158, 158);
}
.btn{
    width:30px;
    width: 150px;
    height: 45px;
    font-size: 20px;
    font-weight:700;
    box-shadow: none;
    background-color:rgb(76, 76, 235);
    color:white;
    margin-top:20px;
    border-radius: 5px;
}
.cards_item{
    /* width:80vw; */
    
    display: flex;
    justify-content:center;
    /* justify-content: space-around; */
    /* margin: auto; */
}
.card1{
    margin:30px;
    border:1px solid rgb(86, 86, 86);
    /* border-radius: 20.5px; */
    text-align: center;
    padding-bottom:20px;
}
.card1 img{
    /* border-radius: 21px 21px 0px 0px;
     */
     padding:4px;
}
.cards_item button{
    border: none;
    width:100px;
    height: 35px;
    font-size: 12px;
}